/**reset**/
*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
/** fine-reset**/

/**navbar**/
.navbar{
    display: flex;
    justify-content: space-between;
}
.logo, ul li{
    display: inline-block;
    vertical-align: middle;
}

.navleft ul .link, .navright ul .link{
    margin-left: 20px;
    margin-top: 25px;
    font-size: 14px;
}

.logo{
    margin-left: 20px;
    margin-top: 25px;
}

button{
    all: unset;
}

.button{
    margin-right: 20px;
    padding: 5px;
    background-color: #0061ff;
    color: white;
    cursor:  pointer;
}
/** fine-navbar**/

/**inizio intestazione header**/
.intestazione{
background-color: #b4d0e7;

}

.titolo{
    font-size: 40px;
    max-width: 1000px;
    margin: auto;
}
  .titolo h1{
    line-height: 1.6;
 }


/**inizio intestazione header**/